@pan:registry=https://repo-artifactory.bancopan.com.br/artifactory/api/npm/npm-repo/
//repo-artifactory.bancopan.com.br/artifactory/api/npm/npm-repo/:_password=ZGV2ZWxvcGVy
//repo-artifactory.bancopan.com.br/artifactory/api/npm/npm-repo/:username=developer
//repo-artifactory.bancopan.com.br/artifactory/api/npm/npm-repo/:email=developer@grupopan.com
//repo-artifactory.bancopan.com.br/artifactory/api/npm/npm-repo/:always-auth=true
registry=https://repo-artifactory.bancopan.com.br/artifactory/api/npm/npm-repo/
//repo-artifactory.bancopan.com.br/artifactory/api/npm/npm-repo/:_password=ZGV2ZWxvcGVy
//repo-artifactory.bancopan.com.br/artifactory/api/npm/npm-repo/:username=developer
//repo-artifactory.bancopan.com.br/artifactory/api/npm/npm-repo/:email=developer@grupopan.com
//repo-artifactory.bancopan.com.br/artifactory/api/npm/npm-repo/:always-auth=true
 
legacy-peer-deps=true
strict-ssl=false